<html>
<body>
    <h1>Prayer Chain</h1>
<div>
 <form action="/" method="POST">
  <input type="checkbox" id="Chris" name="checkbox" value="Chris">
  <label for="Chris"> Chris</label><br>
  <input type="checkbox" id="Curtis" name="checkbox" value="Curtis">
  <label for="Curtis"> Curtis</label><br>
  <input type="checkbox" id="Jethro" name="checkbox" value="Jethro">
  <label for="Jethro"> Jethro</label><br>
  <input type="checkbox" id="Jieru" name="checkbox" value="Jieru">
  <label for="Jieru"> Jieru</label><br>
  <input type="checkbox" id="Josh" name="checkbox" value="Josh">
  <label for="Josh"> Josh</label><br>
  <input type="checkbox" id="Ryan" name="checkbox" value="Ryan">
  <label for="Ryan"> Ryan</label><br>
  <input type="checkbox" id="Sarah" name="checkbox" value="Sarah">
  <label for="Sarah"> Sarah</label><br>
  <input type="checkbox" id="Tessa" name="checkbox" value="Tessa">
  <label for="Tessa"> Tessa</label><br>
  <input type="checkbox" id="Zac" name="checkbox" value="Zac">
  <label for="Zac"> Zac</label><br><br>
  <input type="submit" value="Submit">
 </form>
</div>
</body>
</html>
